{% extends 'schemas/base.html' %}

{% block body_block %}

<h2>Data schemas</h2>
<a href="{% url 'create_schema' %}">
    <button type="button" class="btn btn-success">New schema</button>
</a>

<table class="table">
    <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Name</th>
      <th scope="col">Created</th>
      <th scope="col">Actions</th>
    </tr>
  </thead>
  <tbody>
    {% for schema in object_list %}
    <tr>
        <th scope="row">{{forloop.counter}}</th>
        <td><a href="{% url 'detail_schema' schema.id %}"><button type="button" class="btn btn-link">{{schema.name }}</button></a></td>
        <td>{{ schema.created_at | date:"Y-m-d" }}</td>
        <td>
            <a href="{% url 'update_schema' schema.id %}"><button type="button" class="btn btn-link">Edit schema</button></a>
            <a href="{% url 'delete_schema' schema.id %}">
                <button type="button" class="btn btn-link text-danger">Delete</button>
            </a>
        </td>
    </tr>
    {% empty %}
       <p>No schemas yet.</p>
    {% endfor %}
  </tbody>
</table>

{% endblock %}



