{% extends 'schemas/base.html' %}
{% load bootstrap4 %}

{% block body_block %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <table class="table">
        <h3>Sample schema: {{ object.name }} </h3>
        <thead>
        <tr>
            <th>#</th>
            <th>Name</th>
            <th>Column type</th>
        </tr>
        </thead>
        {% for col in columns %}
            <tr>
                <td>{{ forloop.counter }}</td>
                <td>{{ col.name }} </td>
                <td>{{ col.column_type }} </td>
            </tr>
        {% endfor %}
    </table>




    <div class="row">
        <div class="col-md-8"><h3>Datasets </h3></div>
        <div class="col-md-4">
            <form method="post">
                {% csrf_token %}
                <div class="form-group form-inline">
                    {% bootstrap_form create_dataset %}
                    <br>
                    <button class="btn btn-success" id="schem" type="submit" data-type="{{ schema.id }}">Generate
                    </button>
                </div>

            </form>
        </div>
    </div>

    <table class="table" id="dataset-table">
        <thead>
        <tr>
            <th>#</th>
            <th>Created at</th>
            <th>Rows</th>
            <th>Status</th>
            <th>Actions</th>
        </tr>
        </thead>
        {% if not datasets %}
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        {% endif %}

        {% for ds in datasets %}
            <tr>
                <td>{{ forloop.counter }}</td>
                <td>{{ ds.created_at|date:"Y-m-d" }} </td>
                <td>{{ ds.rows }}</td>
                {% if ds.id == datasets.first.id %}
                    <td id="tasks" style="color: green">{{ ds.status }}</td>
                {% else %}
                    {% if ds.status %}
                        <td style="color: green">{{ ds.status }}</td>
                    {% endif %}
                {% endif %}
                {% if ds.download_url %}
                    <td><a href="{{ ds.download_url }}">Download </a></td>

                {% else %}
                    <td><a href="{% url 'detail_schema' schema.id %}">Processing... </a>
                    </td>
                {% endif %}
            </tr>
        {% endfor %}
    </table>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>

    <script>
        $(document).ready(function () {
            $('#schem').on('click', function (e) {
                e.preventDefault();
                var schema_id = $(this).data('type');
                var rows = $('#id_rows').val();

                // Додати рядок вкінці таблиці
                var lastRow = $('#dataset-table tbody tr:last');
                var rowIndex = lastRow.find('td:first').text();
                var newRow = $('<tr>').append(
                    $('<td>').text(!isNaN(parseFloat(rowIndex)) && isFinite(rowIndex) ? parseInt(rowIndex) + 1 : 1),
                    $('<td>').text(moment().format("YYYY-MM-DD")),
                    $('<td>').text(rows),
                    $('<td>').text('Processing').css({
                        'color': 'Blue'
                    })
                );
                lastRow.after(newRow);


                $.ajax({
                    type: "POST",
                    url: "{% url 'generate_dataset' %}",
                    data: {
                        'schema_id': schema_id,
                        csrfmiddlewaretoken: $('input[name=csrfmiddlewaretoken]').val(),
                        'rows': rows
                    },
                    beforeSend: function () {
                        $('#dataset-table tbody tr:last td:last').text('Processing...');
                    },
                    success: function (data) {
                        $('#dataset-table tbody tr:last td:last').text('Ready').css({
                            'color': 'Green'
                        });
                    },
                    complete: function () {
                        location.reload();
                    }
                });
            });
        });
    </script>
{% endblock %}

